<%= form_with(model: place_temp) do |form| %>
  <% if place_temp.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place_temp.errors.count, "error") %> prohibited this place_temp from being saved:</h2>

      <ul>
        <% place_temp.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :place %>
    <%= form.text_field :place %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :temp %>
    <%= form.text_field :temp %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
