<p id="notice"><%= notice %></p>

<h1>Place Temps</h1>
<%= paginate @place_temps %>
<table>
  <thead>
    <tr>
      <th />
      <th>ID</th>
      <th>Place</th>
      <th>Date</th>
      <th>Temp</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @place_temps.each_with_index do |place_temp, row_index| %>
      <tr>
        <td><%= (row_index + 1) %></td>
        <td><%= place_temp.id %></td>
        <td><%= place_temp.place %></td>
        <td><%= format_date(place_temp.date) %></td>
        <td><%= place_temp.temp %></td>
        <td><%= link_to 'Show', place_temp %></td>
        <%- link_to 'Edit', edit_place_temp_path(place_temp) %>
        <%- link_to 'Destroy', place_temp, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%- link_to 'New Place Temp', new_place_temp_path %>
